#nav{
    font-family: "Calibri";
}

nav ul.nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #911770;
    }
    
    .nav li {
        font-size: 1.1em;
        float: left;
    }
    
    .nav.nav-right li {
        float: right;
    }
    
    .nav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    .nav li a:hover {
        background-color: #111;
    }
    
    nav ul.nav-fixed {
        position: fixed;
        top: 0;
        width: 100%;
    }
    
    nav .brand {
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-size: 1.3em;
        margin-left: 8%;
        position: absolute;
        left: 0;
    }