/*index html*/
body{
	box-sizing: border-box;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	background-color: white;
	text-align: center;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

ul{
	margin: 0;
	padding: 0;
}

header{
	background: black;
	padding-top: 30px;
	color: white;
	min-height: 70px;
	border-bottom: #059305 3px solid;
}
nav {
    font-family: "Calibri";
}

header a{
	font-size: 18px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header nav{
	float: right;
	margin-top: 10px;
}

header .active a{
	color: #059305;
	font-weight: bold;
}

header a:hover{
	color: #90EE90;
	font-weight: bold;
}

h1 {
    float: left;
}

/*top navigator*/
.topNav{
	width: 80%;
	margin: auto;
}

/*home page*/
#home{
	background: url("../images/background/dogCatwithOverlay.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
}
#about{
    background-color: white;
}
#contact{
    background: url("../images/background/p2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}
#photography{
    background: url("../images/background/p3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}
#services{
    background: url("../images/background/p4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}
#pawmed{
    background: url("../images/background/p6.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}
#pettyshoot{
    background: url("../images/background/p7.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

#pawgroom{
    background: url("../images/background/p10.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}


#healthypaws{
    background: url("../images/background/p8.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

#petvacay{
    background: url("../images/background/p11.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

#store{
    background: url("../images/background/p5.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

nav ul.nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background: -webkit-linear-gradient(#94cfc9, #69b3c0, #4699b7, #20566e, #183641); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#94cfc9, #69b3c0, #4699b7, #20566e, #183641); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#94cfc9, #69b3c0, #4699b7, #20566e, #183641); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to right, #94cfc9, #69b3c0, #4699b7, #20566e, #183641);
}
    
    .nav li {
        font-size: 1.1em;
        float: left;
    }
    
    .nav.nav-right li {
        float: right;
    }
    
    .nav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    .nav li a:hover {
        background-color: #111;
        opacity: 0.5;   
    }
    
    nav ul.nav-fixed {
        position: fixed;
        top: 0;
        width: 100%;
    }
    
    nav .brand {
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-size: 1.3em;
        margin-left: 8%;
        position: absolute;
        left: 0;
    }
    /* START DROPDOWN */

nav li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    opacity: 1;
    text-decoration: none;
}

nav li a:hover,
.dropdown:hover .dropbtn {
    background-color: #111;
    opacity: 1;
}

nav li .dropdown {
    display: inline-block;
}

nav .dropdown-content {
    display: none;
    position: fixed;
    /* Use absolute for static menu */
    /*position: absolute;*/ 
    background-color: #1a5d91;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

nav  li .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav .dropdown-content a:hover {
    background-color: blue ;
    color: #ffffff;

}

nav .dropdown:hover .dropdown-content {
    color: black;
    display: block;
}


/* END DROPDOWN */

/* ABOUT OUR TEAM Three columns side by side */
.column {
    background: -webkit-linear-gradient(#20566e, #94cfc9, #20566e); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#20566e, #94cfc9, #20566e); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#20566e, #94cfc9, #20566e); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #20566e,  #94cfc9, #20566e);
    float: left;
    width: 30%;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 20px;
    margin-right: 20px;
    opacity: 1;
}

/* Display the columns below each other instead of side by side on small screens */
@media (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
}

.container .card img {
    margin-top: 5px;
}
/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}
h2 {
        font-family: impact;
}
.title {
    color: black;
    font-family: Lucida Calligraphy;
    font-weight: bold;
}

.button {
    border-radius: 20px;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: black;
}

/* END OF OUR TEAM */